<?xml version="1.0"?>
<config>
    <modules>
        <Spalenza_ExternalMessages>
            <version>1.0.0</version>
        </Spalenza_ExternalMessages>
    </modules>
    <frontend>
        <routers>
            <externalmessages>
                <use>standard</use>
                <args>
                    <module>Spalenza_ExternalMessages</module>
                    <frontName>externalmessages</frontName>
                </args>
            </externalmessages>
        </routers>
        <layout>
            <updates>
                <externalmessages>
                    <file>externalmessages.xml</file>
                </externalmessages>
            </updates>
        </layout>
        <translate>
            <modules>
                <consultoras>
                    <files>
                        <default>Spalenza_ExternalMessages.csv</default>
                    </files>
                </consultoras>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <externalmessages>
                <class>Spalenza_ExternalMessages_Helper</class>
            </externalmessages>
        </helpers>
        <blocks>
            <externalmessages>
                <class>Spalenza_ExternalMessages_Block</class>
            </externalmessages>
        </blocks>
        <models>
            <externalmessages>
                <class>Spalenza_ExternalMessages_Model</class>
                <resourceModel>externalmessages_mysql4</resourceModel>
            </externalmessages>
            <externalmessages_mysql4>
                <class>Spalenza_ExternalMessages_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>spalenza_external_messages</table>
                    </message>
                    <template>
                        <table>spalenza_external_messages_templates</table>
                    </template>
                </entities>
            </externalmessages_mysql4>
            <sales>
                <rewrite>
                    <order>Spalenza_ExternalMessages_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <externalmessages_setup>
                <setup>
                    <module>Spalenza_ExternalMessages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </externalmessages_setup>
            <externalmessages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </externalmessages_write>
            <externalmessages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </externalmessages_read>
        </resources>
        <events>
            <sales_order_status_after>
                <observers>
                    <sales_order_status_after_external_message_handler>
                        <type>model</type>
                        <class>externalmessages/observer</class>
                        <method>orderStatusChanging</method>
                        <args></args>
                    </sales_order_status_after_external_message_handler>
                </observers>
            </sales_order_status_after>
        </events>
    </global>
    <admin>
        <routers>
            <externalmessages>
                <use>admin</use>
                <args>
                    <module>Spalenza_ExternalMessages</module>
                    <frontName>admin_externalmessages</frontName>
                </args>
            </externalmessages>
        </routers>
        <translate>
            <modules>
                <consultoras>
                    <files>
                        <default>Spalenza_ExternalMessages.csv</default>
                    </files>
                </consultoras>
            </modules>
        </translate>
    </admin>
    <adminhtml>
        <menu>
            <externalmessages module="externalmessages">
                <title>ExternalMessages</title>
                <sort_order>100</sort_order>
                <children>
                    <message module="externalmessages">
                        <title>Manage Message</title>
                        <sort_order>0</sort_order>
                        <action>admin_externalmessages/adminhtml_message</action>
                    </message>
                    <template module="externalmessages">
                        <title>Manage Template</title>
                        <sort_order>10</sort_order>
                        <action>admin_externalmessages/adminhtml_template</action>
                    </template>
                </children>
            </externalmessages>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <externalmessages translate="title" module="externalmessages">
                            <title>ExternalMessages</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <message translate="title">
                                    <title>Manage Message</title>
                                    <sort_order>0</sort_order>
                                </message>
                                <template translate="title">
                                    <title>Manage Template</title>
                                    <sort_order>10</sort_order>
                                </template>
                            </children>
                        </externalmessages>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <externalmessages>
                    <file>externalmessages.xml</file>
                </externalmessages>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <externalmessages_execute>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>externalmessages/cron::execute</model>
                </run>
            </externalmessages_execute>
        </jobs>
    </crontab>
</config> 